<h1>
    Random Play:
</h1>

<div>
    Successful answers = <span id="score"><%= score %></span>
</div>

<% var tips = quiz.tips; %>
<% var quizId = quiz.id; %>
<% var quizAuthorId = quiz.authorId; %>


<form method="get" action="/quizzes/randomcheck/<%= quiz.id %>">

    <p>
        Question: <b><%= quiz.question %></b> <small> ( by <%= quiz.author ? quiz.author.username : "Anonymous"  %>) </small>


    </p>


    <div class="wideRow">
        <input type="text" class="itemWide" id="answer" name="answer" value="" placeholder="Answer" autocomplete="off"/>
        <input type="submit" class="itemNarrow" id="send" value="Check">
    </div>
</form>


<% if(level === "easy"){ %>

<h1>
    Tips:
</h1>


<% include ../tips/index %>

<%} else {%>

<h3>Has elegido el modo difícil, no tienes pistas </h3>
<%}%>